{% extends "SoundBuzzBundle:Default:layout.html.twig" %}

{% block title %} Playlists - SoundBuzz {% endblock %}
{%  block head %}
    <link rel="stylesheet" href="{{ asset('css/home.css')}}">
{% endblock %}

{% block body %}
    <div class="listsimg">
        <h2>Toutes les playlists</h2>
        <ul class="playlist">
            {% for playlist in playlists %}
                <li style="background: url('https://d2wnje91xuggzh.cloudfront.net/assets/online-magazine-fr/reiki-channeling/spiritualite/signification-couleur-orange/signification-couleur-orange2.jpg')">
                    <h4><a href="{{ path('playlist_information', { 'id': playlist.id }) }}">{{ playlist.name }}</a></h4>

                    <div class="controlMusic">
                        <i class="playTrack far fa-play-circle"></i>
                        <i style="display: none" class="pauseTrack far fa-pause-circle"></i>
                    </div>

                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
