{% extends "SoundBuzzBundle:Default:layout.html.twig" %}
{% block title %} Accueil - SoundBuzz {% endblock %}

{% block body %}

    <table>
        <tr>
            <th>Title</th>
            <th>Description</th>
        </tr>
        {% for playlist in playlists %}
     
        <tr>
            <td>{{ playlist.name }}</td>
            <td>{{ playlist.description }}</td>
        <a href="{{ path('playlists_songs', { 'id': playlist.id }) }}">Affichage de la playlist</a>
        </tr>
        {% endfor %}
  
    </table>
{% endblock %}