{% extends "SoundBuzzBundle:Default:layout.html.twig" %}
{% block title %}
    SoundBuzz - Ajouter une musique
    {% endblock %}
{% block body %}

<h1> Create a new track</h1>
{{ form(form) }}

<ul>
        <li>
            <a href="{{ path('track_index') }}">Back to the list</a>
        </li>
</ul>
        {% endblock %}