#coms {
    border: 1px solid rgba(0, 0, 0, .10);
    margin-bottom: 40px;
}
#entete-coms {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
#entete-coms form {
    width: 60%;
    margin-bottom: 40px;
}
#entete-coms>div:first-of-type {
    width: 10%;
    text-align: right;
}
#coms img {
    width: 60px;
    height: 60px;
}
#coms form textarea {
    border-radius: 4px;
    margin-left: 2%;
    width: 98%;
    height: 120px;
    margin-bottom: 10px;
}
#coms form button {
    background: #383838;
    float: right;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    cursor: pointer;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.commentaires {
    font-size: 90%;
    padding: 1%;
    border: 1px solid rgba(0, 0, 0, .10);
    width: 70%;
    margin:0 15% 20px;
    display: flex;
}
.commentaires:nth-child(2n+0) {
    background: #f1f1f1;
}
.commentaires>div:first-of-type {
    margin-right: 2%;
}
@media screen and (max-width: 1210px) {
    #entete-coms {
        margin-left: 2%;
        margin-right: 2%;
        width: 96%;
    }
    #entete-coms form {
        width: 88%;
    }
    #entete-coms>div:first-of-type {
        width: 10%;
    }
    .commentaires {
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
    }
}
/*.button-coms {
    color: #FF9601;
    background: white ;
    float: right;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    cursor: pointer;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.buttons-coms:hover {
   */ 
