body {
    font-family: 'Lato', sans-serif;
}
#wrapper {
    position: relative;
    min-height: 100vh;
    padding-bottom:185px;
    display: flex;
    flex-direction: column;
}
#content {
    margin: 150px 5% 0 ;
    font-size: 110%;
    color: #383838;
    /*min-height: 61vh;*/
}
#content h2 {
    color: #383838;
    padding-bottom: 20px;
    border-bottom: 1px solid #383838;
    margin-bottom: 40px;
    width: 100%;
}
#content h3 {
    padding-bottom: 20px;
    border-bottom: 1px solid #383838;
    margin-bottom: 40px;
}
#content .listsimg {
    margin-bottom: 50px;
}
#content .listsimg ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
#content .listsimg ul li {
    list-style-type: none;
    width: 19%;
    overflow: hidden;
}
#content .listsimg img {
    width: 100%;
}
.table-list {
    margin-bottom: 40px;
}
.table-list table {
    border-collapse: collapse;
    width: 100%;
}
#content .table-list table td, #content .table-list table th {
    padding: 20px;
}
.table-list table th {
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .20);
}
.table-list table td {
    padding: 10px 0;
    border-bottom:1px solid rgba(0, 0, 0, .10);
}
.table-list table tr:nth-child(2n+1 ) td {
    background: #dbdada;
}
.table-list table td:first-of-type{
    width: 5%;
    text-align: center;
    color: #FF9601;
    text-shadow: 1px 1px 2px #383838;
}
.table-list table th:first-of-type {
    text-align: center;
    width: 5%;
}

#content a {
    color: #FF9601;
    font-weight: bold;
    /*text-shadow: 0px 0px 1px #383838;*/
}
@media screen and (max-width: 800px) {
    #content .listsimg ul li {
        width: 48%;
        height: auto;
        margin-bottom: 20px;
    }
    
    #content .listsimg ul {
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 450px) {
    #content .listsimg ul li {
        width: 100%;
    }
    
}