body {
    font-family: 'Lato', sans-serif;
}
#wrapper {
    position: relative;
    min-height: 100vh;
    padding-bottom:185px;
    display: flex;
    flex-direction: column;
}
#content {
    margin: 150px 5% 0 ;
    font-size: 110%;
    color: #383838;
    /*min-height: 61vh;*/
}
#content h2 {
    color: #383838;
    padding-bottom: 20px;
    border-bottom: 1px solid #383838;
    margin-bottom: 40px;
    width: 100%;
}
#content h3 {
    padding-bottom: 20px;
    border-bottom: 1px solid #383838;
    margin-bottom: 40px;
}
#content .listsimg {
    margin-bottom: 50px;
}
#content .listsimg ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
#content .listsimg ul li {
    list-style-type: none;
    width: 19%;
    overflow: hidden;
}
#content .listsimg img {
    width: 100%;
}
.table-list {
    margin-bottom: 40px;
}
.table-list table {
    border-collapse: collapse;
    width: 100%;
}
#content .table-list table td, #content .table-list table th {
    padding: 20px;
}
.table-list table th {
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .20);
}
.table-list table td {
    padding: 10px 0;
    border-bottom:1px solid rgba(0, 0, 0, .10);
}
.table-list table tr:nth-child(2n+1 ) td {
    background: #dbdada;
}
.table-list table td:first-of-type{
    width: 5%;
    text-align: center;
    color: #FF9601;
    text-shadow: 1px 1px 2px #383838;
}
.table-list table th:first-of-type {
    text-align: center;
    width: 5%;
}

#content a {
    color: #FF9601;
    font-weight: bold;
    /*text-shadow: 0px 0px 1px #383838;*/
}
#content h2.titretrack {
    margin-bottom: 10px;
}
.addTracks {
    float: right;
    margin-bottom:40px;
}
.addTracks a {
    padding:0 10px;
}
.bloc-info {
    clear: both;
    display: flex;
    justify-content: space-around;
    /*padding-bottom: 40px;
    border-bottom: 1px solid rgba(0,0,0,0.20);*/
    margin-bottom: 40px;
}
.bloc-info>img {
    width:350px;
    height: 350px;
    border-radius: 300px;
}
.img-artist {
    display: none;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    margin-bottom:30px;
}
.bloc-info>table {
    width:30%;
    margin-left: 30px;
}
.bloc-info>table td, .bloc-info>table th {
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, .10);
}
.profil {
    clear: both;
}
.profil .bloc-info {
    justify-content: flex-start;
}
@media screen and (max-width: 1130px) {
    .bloc-info>img {
        width:250px;
        height: 250px;
        border-radius: 250px;
    }
}
@media screen and (max-width: 1050px) {
    .bloc-info>img {
        display:none;
    }
    .bloc-info>table {
        width: 49%;
        margin-left: 0;
    }
    .bloc-info>table:last-of-type {
        margin-left: 2%;
    }
}

@media screen and (max-width: 800px) {
    #content .listsimg ul li {
        width: 48%;
        height: auto;
        margin-bottom: 20px;
    }
    
    #content .listsimg ul {
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 750px) {
    .bloc-info {
        flex-direction: column;
    }
    .bloc-info>table {
        width: 100%;
    }
    .bloc-info>table:last-of-type {
        margin-left: 0;
    }
    .bloc-info>table th {
        width: 230px;
    }
}
@media screen and (max-width: 450px) {
    #content .listsimg ul li {
        width: 100%;
    }
    
}