body {
    font-family: 'Lato', sans-serif;
}
#wrapper {
    position: relative;
    min-height: 100vh;
    padding-bottom:185px;
    display: flex;
    flex-direction: column;
}
#content {
    margin: 160px 5% 0 ;
    font-size: 110%;
    color: #383838;
    /*min-height: 61vh;*/
}
#content h2 {
    color: #383838;
    padding-bottom: 20px;
    border-bottom: 1px solid #383838;
    margin-bottom: 40px;
    width: 100%;
}
#content h3 {
    padding-bottom: 20px;
    border-bottom: 1px solid #383838;
    margin-bottom: 40px;
}
#content .listsimg {
    margin-bottom: 50px;
}
#content .listsimg ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    clear: both;
}
#content .listsimg ul.list-gender {
    justify-content: flex-start;
}
#content .listsimg ul.list-gender li {
    background: #535353;
}
#content .listsimg ul.list-gender li:nth-child(4n+2) {
    background: #868686;
}
#content .listsimg ul.list-gender li:nth-child(4n+3) {
    background: #262626;
}
#content .listsimg ul li {
    list-style-type: none;
    width: 19%;
    overflow: hidden;
}
#content .listsimg img {
    width: 100%;
}
.table-list {
    margin-bottom: 40px;
}
.table-list table {
    border-collapse: collapse;
    width: 100%;
}
#content .table-list table td, #content .table-list table th {
    padding: 20px;
}
.table-list table th {
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .20);
}
.table-list table td {
    padding: 10px 0;
    border-bottom:1px solid rgba(0, 0, 0, .10);
}
.table-list table tr:nth-child(2n+1 ) td {
    background: #dbdada;
}
.table-list table td:first-of-type{
    width: 5%;
    text-align: center;
    color: #FF9601;
    text-shadow: 1px 1px 2px #383838;
}
.table-list table th:first-of-type {
    text-align: center;
    width: 5%;
}

#content a {
    color: #FF9601;
    font-weight: bold;
    /*text-shadow: 0px 0px 1px #383838;*/
}
#content h2.titretrack {
    margin-bottom: 10px;
}
.addTracks {
    float: right;
    margin-bottom:40px;
}
.addTracks a {
    padding:0 10px;
}
.bloc-info {
    clear: both;
    display: flex;
    justify-content: space-between;
    /*padding-bottom: 40px;
    border-bottom: 1px solid rgba(0,0,0,0.20);*/
    margin-bottom: 50px;
}
.bloc-info>img {
    border: 1px solid rgba(0,0,0,0.4);
    height: 350px;
}
.img-artist {
    display: none;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    margin-bottom:30px;
}
.bloc-info>table {
    width:31%;
    margin-left: 30px;
}
.bloc-info>table td, .bloc-info>table th {
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, .10);
}
.bg-audio {
    width: 28%;
    min-height: 350px;
    display: flex;
    border: 1px solid #FF9601;
    justify-content: space-between;
    flex-direction: column-reverse;
}
.bg-audio audio {
    border-top: 1px solid rgba(0,0,0,0.20);
    text-align: center;
    width: 100%;
    background: #F1F3F4;
}
.profil {
    clear: both;
}
.profil .bloc-info {
    justify-content: flex-start;
}
#playerAudio {
    position: fixed;
    bottom: 0;
    background: #f1f3f4;
    border-top: 1px solid rgba(0,0,0,0.20);
    width: 100%;
    display: flex;
    padding: 5px 10px;
}
#playerAudio img {
    height: 50px;
}
#playerAudio h4 {
    line-height: 50px;
    margin-bottom: 0;
}
#playerAudio h4 a {
    color: #FF9601;
}
.controlMusic {
    margin: auto 0;
    text-align: center;
    height: 86%;
}
.controlMusic:hover, .linkHighlight:hover {
    background: rgba(0,0,0,0.30);
}
.controlMusic i {
    cursor: pointer;
    line-height: 235px;
    font-size: 90px;
}
.controlMusic:hover i {
    color: #FF9601;
}
.controlMusic i:hover {
    color: #FF9601;
}
.linkHighlight {
    display: block;
    height: 100%;
    width: 100%;
}
@media screen and (max-width: 1300px) {
    #content .listsimg ul.list-gender li {
        width: 32%;
    }
}
@media screen and (max-width: 1200px) {
    #content .listsimg ul.list-gender li {
        width: 32%;
    }
    #content .listsimg ul li {
        width: 24%;
        margin-bottom:15px;
    }
    #content .listsimg ul li:last-of-type {
        display: none;
    }
}
@media screen and (max-width: 1130px) {
    .bloc-info>img {
        width:250px;
        height: 250px;
        border-radius: 250px;
    }
    .bloc-info {
        flex-wrap: wrap;
    }
    .bg-audio {
        width: 100%;
        margin-bottom: 30px;
        min-height: 250px;
    }
}
@media screen and (max-width: 1100px) {
    #content .listsimg ul {
        flex-wrap: wrap;
    }
    #content .listsimg ul.list-gender li {
        width: 48%;
    }
    #content .listsimg ul li {
        width: 48%;
        /*height: auto;*/
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 1050px) {
    .bloc-info>img {
        display:none;
    }
    .bloc-info>table {
        width: 49%;
        margin-left: 0;
    }
    .bloc-info>table:last-of-type {
        margin-left: 2%;
    }

}


@media screen and (max-width: 750px) {
    .bloc-info {
        flex-direction: column;
    }
    .bloc-info>table {
        width: 100%;
    }
    .bloc-info>table:last-of-type {
        margin-left: 0;
    }
    .bloc-info>table th {
        width: 230px;
    }
}
@media screen and (max-width: 600px) {
    /*#playerAudio {
        flex-direction: column;
        justify-content: center;
    }*/
    #playerAudio img {
        display: none;
    }

    #content .music-home ul li, #content .listsimg ul.list-gender li {
        width: 100%;
    }
}
@media screen and (max-width: 450px) {
    #content .listsimg ul li {
        width: 100%;
    }
    #playerAudio {
        flex-direction: column-reverse;
    }
    #playerAudio h4 {
        line-height: normal;
        margin-bottom: 0;
        padding-left: 20px;
        padding-top: 5px;
    }
}