#content .table-list .table-tracks tr td, #content .table-list .table-tracks th {
    padding:0;
}
#content .table-list .table-tracks th {
    padding-bottom:20px;
}
#content .table-list .table-tracks tr td:first-of-type, #content .table-list .table-tracks th:first-of-type {
    padding:0;
    width: 50px;
}
#content .table-list .table-tracks tr td:first-of-type img, #content .table-list .table-tracks th:first-of-type img {
    width: 70px;
    height:70px;
    border-radius:75px;
    margin: 10px 10px 10px 5px;
}
.table-list .table-tracks ul {
    padding: 0;
    margin: 0;
}
.table-list .table-tracks ul li {
    padding-bottom: 8px;
    padding-top: 5px;
    list-style-type: none;
}
@media screen and (max-width: 1050px) {
    #track>.img-artist {
        display: block;
    }
}
@media screen and (max-width: 990px) {
    .displayTD {
        display:none;
    }
}
